.simple-asset-dialog-paper {
  width: 600px;
  /* max-width: 90vw; */
  padding: 16px;
  border-radius: 12px;
}

.simple-asset-button-group {
  display: flex;
  gap: 16px;
  /* width: 600px; */
  margin-left: auto;
  flex-direction: row;
}

.simple-asset-stack {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.simple-asset-button-group button {
  flex: 1;
}
