.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-paper {
  padding: 32px;
  width: 100%;
  max-width: 400px;
}

.login-form-message {
  margin-bottom: 16px;
}

.login-form-form {
  margin-top: 8px;
}

.login-form-submit-button {
  margin-top: 24px;
  margin-bottom: 16px;
}
